<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
	<link rel="stylesheet" href="../lib/tau/mobile/theme/default/tau.css">
	<script type="text/javascript" src="../js/config.js"></script>
	<script type="text/javascript" src="../model/models.js"></script>
    <script type="text/javascript" src="../lib/jquery.js"></script>
	<script type="text/javascript" src="../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
	
</head>
<body>
<div class="ui-page" id="details">
     
      <div class="ui-content">
      
      <div>
      
      <div class="dv-details-overlay"></div>
      
      
      <label id="lblTitle" class="lbl-details-title">Movie Title</label>
         <img id="imgBack" class="img-details-back" src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/b6ZJZHUdMEFECvGiDpJjlfUWela.jpg"/>
         
         <img id="imgPoster" class="img-details-poster" src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/uxzzxijgPIY7slzFvMotPv8wjKA.jpg"/>
         
         <div class="p-details-desc">
         <b>Genres:</b><span id="spGenres">Action</span>
         <br/><br/>
         <b>Release Date:</b><br/><span id="spDate">2019/03/04</span>
         <br/><br/>
         <b>Popularity:</b><span id="spPop"> 6.7</span>
         
         </div>
         
         <div id="dvDesc" class="dv-details-info">dddd</div>
         
       </div>
      </div>
      <div class="ui-footer">
         <button id="btnOk">Back</button>
      </div>
      
       
<script type="text/javascript" src="../controller/movie_details.js" data-build-remove="false"></script>
   
   </div>
  
</body>
</html>
